.contentcard{
    border-radius: 19px;
    box-shadow: 5px;
    border: solid 2px;
    width: 40%;
    align-content:flex-start;
    
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    padding: 30px;
    padding-top: 280px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-image: url('./bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 80%;
    background-position: center;
}
.textmuted{
    color: rgb(206, 185, 255);
    /* background-image: url('./bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; */
  /* background-size: 100% 100%; */
  
}